#products2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.box1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 15px;
  background: rgba(237, 233, 233, 0.811);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 290px;
}

.box1:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
}

.img-box1 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.images1 {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}
.images1:hover {
  border: none;
}

.bottom {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}
button {
  width: 60%;
  border: none;
  border-radius: 50px;
  padding: 7px 25px;
  cursor: pointer;
  color: black;
  transition: background 0.3s ease;
  margin-top: 5px;
  margin-bottom: 5px;
}
h2 {
  font-size: 17px;
  color: black;
  font-weight: bold;
}

h4 {
  font-size: 14px;
  color: rgb(154, 146, 146);
  font-weight: bold;
}
.btn4 {
  background-color: #198754; /* Green */
  color: white;
  width: 60%;
  border-radius: 25px;
  font-weight: bold;
}
.btn4:hover {
   background-color: white;
  color: green;
  border: 2px solid #007f3f;
}

@media (min-width: 768px) {
  #products2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 2560px) {
  #products2 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  #products2 {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1440px) {
  #products2 {
    grid-template-columns: repeat(3, 1fr);
  }
  .box1 {
    width: 95%;
  }
}
@media (min-width: 1024px) {
  #products2 {
    grid-template-columns: repeat(3, 1fr);
  }
}
